

* {
  box-sizing: border-box;
}

.nav-bag {
  display: flex;
  align-items: center;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(206, 2, 2);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  color: white;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  min-height: 80vh;
}

/* Home */

.home-container {
  padding: 2rem 4rem;
}

.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}



/* Cart  */

.cart-container {
  padding: 2rem 4rem;
}

.cart-container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 4rem;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item, .cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-item .cart-product button:hover {
  color: black;
}

.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-product-quantity button {
  border: none;
  background: none;
  outline: none;
  padding: 0.7rem 0.5rem;
  cursor: pointer;
}

.cart-product-quantity .count {
  padding: 0.7rem 1rem;
}

.cart-product-total-price {
  justify-self: right;
  padding: 0.5rem;
  font-weight: 700;
}

/* Cart Summary  */

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .subtotal .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 300;
  margin: 0.8rem 0;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  flex-direction: column;
  align-items: center;
  display: flex;
}


.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

.form {
  width: 20%;
  margin-top: 3rem;
}

.dashboard-container {
  display: flex;
  height: 92vh;
}

.sidenav {
  width: 25%;
  height: 100%;
  border-right: 1px solid rgb(177, 177, 177);
  padding: 2rem 2rem;
  text-align: center;
}

.content {
  width: 100%;
  padding: 3rem 5rem;
}

.admin-header {
  display: flex;
  justify-content: space-between;
}


.form-container {
  width: 60%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.image-preview {
  border: 1px solid lightgray;
  width: 28%;
  max-width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.image-preview img {
  width: 100%;
  max-width: 100%;
}


.sideStats {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 100%;
}